/* About */
.about-header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    height: 191px;
    padding: 69px 162px;
    background: rgba(255, 255, 255, 0.9);
    
  }
  .navigation {
    display: flex;
    width: 564px;
    justify-content: space-around;
    align-items: center;
  }
  .nav-ul {
    display: flex;
    justify-content: space-around;
  }
  .nav-li {
    padding-right: 15px;
  }
  .nav-li a {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(39, 76, 91, 1);
  }
  .main-section {
    margin-top: 200px;
    background-color: rgba(249, 248, 248, 1);
  }
  .left-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
    padding-top: 49px;
  }
  .left h4 {
    font-family: Yellowtail;
    font-size: 36px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(126, 182, 147, 1);
  }
  .left h3 {
    color: rgba(39, 76, 91, 1);
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    width: 524px;
    height: 118px;
  }
  .left p {
    color: rgba(82, 92, 96, 1);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 671px;
    height: 60px;
  }
  .left-img img {
    width: 678px;
    border-radius: 10px;
    background: rgba(235, 235, 235, 1);
  }
  .bottom-div {
    display: flex;
    margin-top: 90px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .bottom-div-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 257px;
    height: 335px;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 234px;
  }
  .bottom-div-child p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(82, 92, 96, 1);
    padding-top: 20px;
  }
  .bottom-div-child h5 {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(39, 76, 91, 1);
    padding-top: 29px;
  }
  